@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
  box-sizing: border-box;

}

body{
  font-family: "open sans", sans-serif;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  flex-wrap: wrap;
  min-height: 100vh;
  margin:0
}

h3{
  margin:10px 0;
}

h6{
  margin:10px 0;
  text-transform: uppercase;
  text-align: center;
}

p{
  font-size: 14px;
  line-height: 21px;
}
button{
  margin-right: 10px;
  padding:10px;
  /*width:100px;*/
  cursor: pointer;
}
button.primary{
  background-color: #0984e3;
  border: 1px solid #0984e3;
  border-radius: 3px;
  color:#fff;
  font-family: "open sans", sans-serif;
  font-weight: 500;
  padding: 10px 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

button.primary:hover{
  background-color: transparent;
}

button.primary.outline:hover{
  background-color: #0984e3;
}

button.outline{
  background-color: transparent;
}
.skills{
  background-color: #2f3640;
  text-align: center;
  padding: 15px;
  margin-top: 15px;
}
.skills ul{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin: 0;
  padding: 0;
  justify-content: center;
}
li{
  list-style: none;
  margin:0 7px 7px 0;
  border: 1px solid #595180;
  display: inline-block;
  padding: 7px;

  font-size: 12px;
 
}

.card-container{
  background-color: #353b48;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
  color:#b3b8cd;
  padding-top:30px;
  width:350px;
  max-width:100%;
  position: relative;
  text-align: center;
}

.pro{
  color:#231e39;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding:3px 7px;
  position: absolute;
  top:30px;
  left:30px;
}

.pro.online{
  background: #25D366;
}
.pro.offline{
  background: #febb0b;
}

.img{
  border:2px solid #fff;
  border-radius: 50%;
  padding: 1px;
}
